.horse_left {
    background-color: rgba(100, 180, 255, 0.6);
}
.leftnav {
    background-color: rgba(100, 150, 255, 0.4);
}
.horse_banner img[alt="Background"] {
    content: url("https://i.imgur.com/mYUIRYA.png"); /* Your new background image */
}


* {
    color: white !important;
}
