
.leftnav {
    background-color: rgba(255, 200, 220, 0.4);
}
* {
    color: white !important;
}

/* Horses Page Banner Behind Horse */
.horse_banner img[alt="Background"] {
    display: none !important;
}

.horse_banner {
    background-image: url("https://i.imgur.com/WVFEuOu.png") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-color: transparent !important;
}

/* Horses Page Description Box Left */
.horse_left {
    background-color: rgba(255, 100, 160, 0.1);
    border-radius: 20px;
    padding: 10px;
    margin: 20px 0 20px 20px;
    border: 2px solid rgba(255, 100, 160, 0.5); /* adjust color & thickness */
}
