
.leftnav {
    background-color: rgba(214,66,142, 0.4);
}


/* Horses Page Banner Behind Horse */
.horse_banner img[alt="Background"] {
    display: none !important;
}

.horse_banner {
    background-image: url("https://i.imgur.com/GgwCe4i.jpeg") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-color: transparent !important;
}

/* Horses Page Description Box Left */
.horse_left {
    background-color: rgba(214,66,142, 0.3);
    border-radius: 20px;
    padding: 10px;
    margin: 20px 0 20px 20px;
    border: 2px solid rgba(214,66,142, 0.7); /* adjust color & thickness */
}

/* Text Color */
* {
    color: rgba(235,230,227,255) !important;
}
