/* Profile Name CSS */
 .user-profile .profile-name-and-estate .profile-username {
   font-size: 32px !important;
    background: linear-gradient(120deg,
    rgba(226, 164, 187, 1), /* base pink */
        rgba(255, 200, 220, 1), /* lighter highlight */
        rgba(226, 164, 187, 1), /* return to base */
        rgba(190, 110, 140, 1), /* deeper pink */
        rgba(255, 220, 235, 1)  /* bright streak */
    ) ;
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* Firefox support */
    animation: shimmer 5s infinite linear;
}

@keyframes shimmer {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

}
/* remove the shadow on the label itself */
.user-profile .profile-name-and-estate {
  text-shadow: none !important;
}

/* just in case child elements add shadows */
.user-profile .profile-name-and-estate *,
.user-profile .profile-name-and-estate::before,
.user-profile .profile-name-and-estate::after {
  text-shadow: none !important;
}

/* Estate name CSS */
.user-profile .profile-name-and-estate .profile-estate {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #fff;
}
/* Font Change*/
    p {
    font-family: monospace;
}
/* Change Color Of Player, Milestones, and Estate Blocks */
.user-profile.periwinkle-pony .breadcrumb, .user-profile.periwinkle-pony .milestones, .user-profile.periwinkle-pony .profile-container .table tbody tr:nth-of-type(odd), .user-profile.periwinkle-pony .profile-side-panel-section {
    background-color: rgba(63, 64, 105, 0.4) !important; /* 🔁 Change this color */
    border-radius: 20px;
    padding: 10px;
    margin: 20px 0 20px 20px;
    border: 2px solid rgba(63, 64, 105, 0.5); 
}

.user-profile.periwinkle-pony .profile-container a:hover, .user-profile.periwinkle-pony .title-text, .user-profile.periwinkle-pony h2.profile-side-panel-title, .user-profile.periwinkle-pony td.bold {
    color: rgba(226, 164, 187) !important;
}

.user-profile .profile-side-panel-section .tag-player , .user-profile .profile-side-panel-section table tr td {
  color: black important;
}

.user-profile.periwinkle-pony .profile-container a {
    color: rgba(226, 164, 187) !important;
}
.user-profile.periwinkle-pony .profile-container a:hover {
    color: black !important;
}
.user-profile.periwinkle-pony .milestone-summary hr-milestone-card {
  --colour-labels-900: rgba(226, 164, 187) !important;
}

   
